.s-blog {
  .menu-background {
    height: 56px;
    background: linear-gradient(99deg, #00a5f0 7.94%, #00d7d7 95.32%);
  }

  .container {
    padding: 100px 0;

    h1 {
      margin-bottom: 24px;
    }
  }
}
