.s-page-not-found {
  background-color: #2069c2;
  padding-top: 16rem;
  padding-bottom: 10rem;

  .container {
    @include flex(column, center, center);
  }

  h1 {
    color: #fff;
    margin-bottom: 3rem;
  }

  p {
    font-size: 1.8rem;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 6rem;
  }
}
